@model List<FinalYearProjet.Models.Restaurent>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<style>
    body {
        background-image: url('https://www.samaa.tv/wp-content/uploads/2020/03/thyme.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    * {
        box-sizing: border-box;
    }
</style>
<div>
     @foreach (FinalYearProjet.Models.Restaurent r in Model)
     
    {
    <div>
        <div class="col-xl-3 col-lg-4 col-sm rotate">
            <div class="card text-center mb-3 cafe-card">
                <div class="card-header">
                    <h4 class="font-weight-light title-text">@r.NameOfRestaurants</h4>
                </div>
                <div class="card-body">
                    <img class="img-fluid rounded" src="~/RestaurentImages/@r.PhotoPATH">
                </div>
                <div class="card-footer">
                    Try our Menue :)
                </div>
                <div class="back">
                    <div class="back-content">
                        <h1 class="text-uppercase font-weight-light">Have</h1>
                        <h3 class="mb-3">Fun</h3>
                        <a asp-route-restaurentID="@r.RestaurentID" asp-action="RestaurentMenue" class="btn btn-warning hwr-right my-4 text-capitalize">Get Started</a>
                    </div>
                </div>


            </div>


        </div>
        <div class="card text-center mb-3 cafe-card">
            <div class="card-header">
                <h5 class="font-weight-light title-text">Phone Number<a href="tel:'@r.PhoneNo+'">@r.PhoneNo</a></h5>
                <h5>Adress: @r.Location</h5>
                <h6>open until: @r.OpenUntil</h6>
            </div>

        </div>
    </div>
    }
</div>
